@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	.fc {
		@apply flex flex-col justify-center items-center;
	}

	.fr {
		@apply flex flex-row justify-center items-center;
	}
}

video {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

* {
	overscroll-behavior-y: none;
}
